#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [13]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [16]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [18]:
users = pd.read_sql_query('SELECT * FROM stats.users', engine)

#### 5. Rename Id column to userId

In [32]:
users = users.rename(columns={'Id':'userId'})

#### 6. Import the posts table.

In [20]:
userpost = pd.read_sql_query ('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [33]:
userpost = userpost.rename(columns={'Id':'postId','OwnerUserId':'userId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [34]:
users1 = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
userpost1 = userpost[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [37]:
merged = pd.merge(users1, userpost1, on='userId')

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [40]:
mergednull = merged.isnull().sum()
mergednull[mergednull > 0]

ViewCount    48396
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [54]:
mergeclean [['ViewCount']] = merged[['ViewCount']].fillna(0)
#Es la mitad de los elementos de la tabla y al quitarlos pierdes la mitad de los datos lo cual afecta tu resultado

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
#Age porque solo se usan Ints

In [49]:
users.dtypes

userId                      int64
Reputation                  int64
CreationDate       datetime64[ns]
DisplayName                object
LastAccessDate     datetime64[ns]
WebsiteUrl                 object
Location                   object
AboutMe                    object
Views                       int64
UpVotes                     int64
DownVotes                   int64
AccountId                   int64
Age                       float64
ProfileImageUrl            object
dtype: object

In [50]:
userpost.dtypes

postId                            int64
PostTypeId                        int64
AcceptedAnswerId                float64
CreaionDate              datetime64[ns]
Score                             int64
ViewCount                       float64
Body                             object
userId                          float64
LasActivityDate          datetime64[ns]
Title                            object
Tags                             object
AnswerCount                     float64
CommentCount                      int64
FavoriteCount                   float64
LastEditorUserId                float64
LastEditDate             datetime64[ns]
CommunityOwnedDate       datetime64[ns]
ParentId                        float64
ClosedDate               datetime64[ns]
OwnerDisplayName                 object
LastEditorDisplayName            object
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.